@page
@model TrinityModel
@{      
    ViewData["Title"] = "Trinity - " + @Model.username;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Login_Home" asp-route-user="@Model.username" style="font-family: 'Times New Roman', Times, serif; font-size: 1.4rem">Bio<span style="color: #FFCC00">tools</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login_Home" asp-route-user="@Model.username">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/File_Explorer" asp-route-user="@Model.username">File Explorer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/FastQC">Quality Control</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=>Assembly</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" asp-page="/Trinity" asp-route-user="@Model.username">Trinity</a></li>
                            <li><a class="dropdown-item" asp-page="/Salmon">Salmon</a></li>
                            <li><a class="dropdown-item" asp-page="/CDHIT">CD-HIT</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=>Annotation</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" asp-page="/KEGG">KEGG</a></li>
                            <li><a class="dropdown-item" asp-page="/Phylo">PhyloDB</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=>Downstream Analysis</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" asp-page="/DESeq2">DESeq2</a></li>
                            <li><a class="dropdown-item" asp-page="/Pheatmap">Pheatmap</a></li>
                            <li><a class="dropdown-item" asp-page="/KEGGStats">KEGG Stats</a></li>
                            <li><a class="dropdown-item" asp-page="/PhyloStats">PhyloDB Stats</a></li>
                            <li><a class="dropdown-item" asp-page="/KAASStats">KAAS Stats</a></li>
                        </ul>
                    </li>
                    @if (String.Equals(Model.username, "biotoolsadmin")) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AdminPortal">Admin Portal</a>
                        </li>
                    }
                    <li class="nav-item">
                        <div class="logout">
                            <a class="nav-link" asp-area="" asp-page="/Index" style="color: white;">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">

    <div class="text-center">
        <img src="https://raw.githubusercontent.com/wiki/trinityrnaseq/trinityrnaseq/images/TrinityCompositeLogo.png" style="margin-bottom: 40px;">
        @if (Model.err != null && Model.err != "") {
            @if (!(Model.err == "*")){
                <p style="color: red;">@Model.err</p>
            }
            else {
                <h2>Success! Your job was submitted, you will recieve an email shortly.</h2>
            }
        }
        <form method="post" id="myForm">
            <p>
                Sequence Type:&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="fa" name="seq_type" value="fa">
                <label for="fa">.fa (FASTA)</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="fq" name="seq_type" value="fq">
                <label for="fq">.fq (FASTQ)</label>
            </p>
            <table style ="width: 100%;">
                <tbody id="reads">
                    <tr>
                        <td>Left Reads:</td>
                        <td>Right Reads:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control-reads" name="left[]">  
                        </td>
                        <td>
                            <input type="text" class="form-control-reads" name="right[]">  
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="add-reads" onclick="addField()">
                <p><b style="font-size: 72px;">+</b></p>
            </div>
            <div class = "del-reads" onclick="removeField()">
                <p><b style="font-size: 72px;">-</b></p>
            </div>
            <p>Output Directory (Leave blank if you would like to store at containers root)</p>
            <input type="text" name="output" class="form-control">
            <input type="hidden" name="user" value="@Model.username">
        </form>
        
        <input type="submit" class="login-submit" value="Submit" form="myForm">
    </div>
</div>
<script>
    const myForm = document.getElementById("reads");

    function addField() {
        const leftData = document.createElement("td");
        const left = document.createElement("input");
        left.type = "text";
        left.name = "left[]";
        left.classList.add("form-control-reads");
        leftData.appendChild(left);

        const rightData = document.createElement("td");
        const right = document.createElement("input");
        right.type = "text";
        right.name = "right[]";
        right.classList.add("form-control-reads");
        rightData.appendChild(right);

        const newRow = document.createElement("tr");
        newRow.appendChild(leftData);
        newRow.appendChild(rightData);

        myForm.appendChild(newRow);
    }

    function removeField() {
        if (myForm.childElementCount > 2) {
            myForm.removeChild(myForm.lastElementChild);
        }
    }
</script>